<%- include('partials/header') %>

    <%- include('partials/navbar') %>

        <h1>Pet Shelter</h1>
        <p>Browse pets from shelters.</p>

        <h2>Checklist for New Adopters</h2>
        <ul>
            <li>Is your current residence suited to the pet you're considering?</li>
            <li>How will your social life or work obligations affect your ability to care for a pet?</li>
            <li>Do you have a plan for your new pet during vacations and/or work travel?</li>
            <li>How do the people you live with feel about having a pet in the house?</li>
        </ul>
        <%- include('partials/footer') %>