<%- include('partials/header') %>

    <%- include('partials/navbar') %>

        <h1>Sorry, we could't find the
            <%= subtopic %> section.
        </h1>

        <%- include('partials/footer') %>